.oAuth {
  border-radius: 8px;
  cursor: pointer;
}

.oAuth:hover {
  background-color: #cccccc;
}

.input {
  border-left: 1px solid #ccc !important;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
