.medium {
  font-weight: 500;
}

.skyblue {
  background-color: #338ae5 !important;
  border-color: #338ae5 !important;
}

.skyblue:hover {
  background-color: #296cb4 !important;
}

.button {
  border-radius: 12px;
}
